<div *ngIf="selectedSegment === 'current'">
  <ion-row>
    <ion-col size="10" offset="1" class="custom-card-current">
      <ion-card>
        <img class="customArtworkImage" alt="Silhouette of mountains" src="assets/images/art1.jpg" />
        <ion-card-header>
          <ion-card-title>Artwork Title</ion-card-title>      
        </ion-card-header>
      
        <ion-card-content>
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img src="assets/images/user1.jpg" alt="">
            </ion-thumbnail>
            <ion-label class="artist-info">
              <h4>Artist Name</h4>
              <p class="bid-amount">P500</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</div>