/* artist-profile.component.scss */

ion-card {
    margin: 16px;
  }
  
  ion-card-header {
    text-align: center;
  }
  
  ion-img {
    max-height: 200px; /* Adjust the maximum height of the artist image */
    width: auto;
    margin-bottom: 16px;
  }
  
  ion-card-title,
  ion-card-subtitle {
    margin-bottom: 8px;
  }
  
  ion-card-content {
    line-height: 1.5;
  }
  
  ion-list {
    margin-top: 16px;
  }
  
  ion-list-header {
    background-color: #f4f4f4;
    padding: 8px;
  }
  
  ion-item {
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  ion-thumbnail {
    max-width: 80px; /* Adjust the maximum width of the artwork thumbnail */
  }
  
  h3 {
    margin-bottom: 4px;
  }
  
  p {
    margin: 0;
  }
  
  /* Add any additional styling based on your design requirements */
  